.nav-link {
    font-size: 30px;
    color: rgba(0, 61, 230, 0.815);
    text-decoration: none;
    display: block;
}
nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}
